{% extends "dappx/index.html" %}
{% block body_block %}



<form action = 'add_to_db_Profile/', method="POST">
<!-- {%csrf_token%}      -->
{% if quest.count > 0 %}
<h2>Заполнение анкеты</h2>
<table>
    {% for qu in quest %}
        <div class = '{{qu.id}}'>
        <ul id = {{qu.id}}> {{qu.question_name }} </ul>
        {% if qu.question_type == "Date" %}
           <input type="date" name="question{{qu.id}}_date" value="2019-01-31">
        {% else %}

            <select name ="question{{qu.id}}">
                {% for o in option %}
                    {% if o.question.id == qu.id %}
                        <option value={{ o.option_id }}>{{ o.option_name }}</option>
                    
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}
        </div>
    {% endfor %}

</table><br>

<input type="submit" value="Сохранить" >
{% endif %}
</form>



{% endblock %}
