{% extends "dappx/index.html" %}
{% block body_block %}

    
    
        <h1>Вы вошли как врач!</h1>        
        <input type="button" value="Добавить анкету" class="button_active" onclick="location.href='{% url 'dappx:addprofile' %}';" /> 
       
        <table border="1" width="70%">
        	<tr>
        	{% for k in dic.1 %}
        		<th>{{k}}</th>
        	{% endfor %}
        	</tr>
        	{% for k,v in dic.items %}
        		<tr>
        			{% for q,ans in v.items %}        			
        				<td> {{ans}}</td>
        			{% endfor %}
        		</tr>     				
        		   		
      		{% endfor %}
       
        </table>		


{% endblock %}