{% extends "dappx/index.html" %}
{% block body_block %}
    {% if surv.count > 0 %}
        <script language="JavaScript">
            function toggle(source) {
                checkboxes = document.getElementsByName('checks[]');
                for(var i=0, n=checkboxes.length;i<n;i++) {
                    checkboxes[i].checked = source.checked;
                }
            }
        
        </script>
        

      <h1>Сохраненные анкеты: </h1>
      
      <form action="delete" method="POST">
        <table border="1" width="70%">
        	<tr>                
                <th><input type="checkbox" onClick="toggle(this)" />Выбрать все<br/></th>
        	   {% for question in HEADER_DIC.0 %}
        		  <th>{{ question }}</th>
        	   {% endfor %}
        	</tr>
        	{% for surv_number in surv_id_pagin %}                
        		<tr>
                    <td><input type="checkbox" name="checks[]", value={{ surv_number }}></td>
                    {% for surv_id, quest_answer in dic.items %}
                        {% if surv_id == surv_number %}
        			         {% for quest,anser in quest_answer.items %}
        				        <td name = "", value = {{surv_number}}> {{anser}}</td>
        			         {% endfor %}
                        {% endif %}
                    {% endfor %}
        		</tr>
      		{% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if surv_id_pagin.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ surv_id_pagin.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ surv_id_pagin.number }} of {{ surv_id_pagin.paginator.num_pages }}.
                </span>

                {% if surv_id_pagin.has_next %}
                    <a href="?page={{ surv_id_pagin.next_page_number }}">next</a>
                    <a href="?page={{ surv_id_pagin.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div><br>

        <input type="button" value="Назад" class="button_active" onclick="location.href='{% url 'dappx:doctor' %}';" />        
        <input type="submit" value="Удалить" name='_delete'/>
        <input type="submit" value="Сохранить в xlsx" name="_exportxlsx"/>
        </form>

        {% else %}
            <h1>Нет сохраненных анкет</h1>
            <table border="1" width="70%">
            {% for i in quest_table %}
                <th>{{ i.question_name }}</th>
            {% endfor %}
        </table>
        <input type="button" value="Добавить анкету" class="button_active" onclick="location.href='{% url 'dappx:addprofile' %}';" />
        {% endif %} 

        
{% endblock %}
